<footer>
    <a class="nav-element nav-element-inactive" href="/tos">Terms of Service</a>
    <a class="nav-element nav-element-inactive" href="/privacy">Privacy Policy</a>
    <a href="https://github.com/ideoxan" id="footer-tag"><img class="ico-18px footer-img" src="/static/img/ix_primary_transparent_w.webp"> Made with &#x1F496; by Ideoxan</a>
</footer>