<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (typeof title !== 'undefined') { %><title><%- title %> | Ideoxan</title>
<% } else { %><title>Ideoxan</title>
<% } %>

<link rel="preload" href="/static/fonts/Metropolis-Regular.otf" as="font" type="font/otf" crossorigin="anonymous"> 
<link rel="preload" href="https://cdn.materialdesignicons.com/5.1.45/fonts/materialdesignicons-webfont.eot?v=5.1.45" as="font" type="font/eot" crossorigin="anonymous">
<link rel="preload" href="/static/img/ix_primary_transparent_w.png" as="image" type="font/png"> 

<link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">

<link rel="stylesheet" type="text/css" href="/static/css/vars.css">
<link rel="stylesheet" type="text/css" href="/static/css/general.css">

<link rel="icon" type="image/webp" href="/static/img/ix_color_pb.webp">
