<div class="pricing-container">
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-cbli"></th>
                <th class="tg-38jg heading">Ideoxan Free</th>
                <th class="tg-38jg heading boxgrid-top-price">IX+</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-cly1 subheading" colspan="3">Content</td>
            </tr>
            <tr>
                <td class="tg-cly1">Access to Basic Courses</td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1">Access to Exclusive Courses<br></td>
                <td class="tg-nrix"><span class="mdi mdi-close ico-18px pricing-notincl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1">Personalized Help and Quizzes</td>
                <td class="tg-nrix"><span class="mdi mdi-close ico-18px pricing-notincl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1 subheading" colspan="3">Support</td>
            </tr>
            <tr>
                <td class="tg-cly1">Support Type<br></td>
                <td class="tg-nrix">48 hour/GitHub Issues<br></td>
                <td class="tg-nrix">Extended Priority 24 hour</td>
            </tr>
            <tr>
                <td class="tg-cly1 subheading" colspan="3">Account</td>
            </tr>
            <tr>
                <td class="tg-cly1">Saving Course Progress</td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1">Saving Responses</td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1">Sandboxing</td>
                <td class="tg-nrix"><span class="mdi mdi-close ico-18px pricing-notincl"></span></td>
                <td class="tg-nrix"><span class="mdi mdi-check ico-18px pricing-incl"></span></td>
            </tr>
            <tr>
                <td class="tg-cly1"></td>
                <td class="tg-nrix pricing-price">Free</td>
                <td class="tg-nrix pricing-price">TBD<br></td>
            </tr>
            <tr>
                <td class="tg-cly1"></td>
                <td class="tg-nrix"><% if (!auth) { %> <a href="/signup" class="button button-primary">Sign Up</a> <% } %></td>
                <td class="tg-nrix"><a cursor="pointer" class="button button-disabled">Coming Soon</a></td>
            </tr>
        </tbody>
    </table>
</div>