[submodule "static/curriculum/curriculum-tutorial"]
	path = static/curriculum/curriculum-tutorial
	url = https://github.com/ideoxan/curriculum-tutorial.git
	branch = master
[submodule "editor"]
	path = content/editor
	url = https://github.com/ideoxan/koala
