/* ---------------------------------------------------------------------------------------------- */
/*                                              FONTS                                             */
/* ---------------------------------------------------------------------------------------------- */

@font-face {
    font-family: Metropolis;
    src: local("Metropolis"), local("Metropolis Regular"), local("Metropolis Normal"), url("/static/fonts/Metropolis-Regular.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Medium"), local("Metropolis Semi-Bold"), url("/static/fonts/Metropolis-Medium.otf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Bold"), url("/static/fonts/Metropolis-Bold.otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Italic"), local("Metropolis Regular Italic"), local("Metropolis Normal Italic"), url("/static/fonts/Metropolis-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Medium Italic"), local("Metropolis Semi-Bold Italic"), url("/static/fonts/Metropolis-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Bold Italic"), url("/static/fonts/Metropolis-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* ---------------------------------------------------------------------------------------------- */
/*                                                  VARS                                          */
/* ---------------------------------------------------------------------------------------------- */

:root {
    --primary-color: #804ddeff;
    --dark-1: #121212;
    --dark-2: #212121;
    --dark-3: #424242;
    --light-1: #f5f5f5;
    --light-2: #e0e0e0;
    --light-3: #bdbdbd;
    --black: #000;
    --white: #fff;
    --primary-font: normal normal 12px Metropolis, Arial, sans-serif;
    --secondary-font: 8px Consolas, monospace;
    /* TODO: Migrate to rems and ems for font sizing */
}