<div class="ts w-full mt-0 pt-12 lg:pt-24 px-4 bg-purple-600 sm:bg-gradient-to-tr sm:from-indigo-900 sm:via-purple-700 sm:to-indigo-900 overflow-y-hidden">
    <div class="ts max-w-7xl mx-auto">
        <div class="ts mt-0 lg:mt-8 mb-4 mx-4 md:mx-auto lg:w-max transform text-4xl sm:text-5xl md:text-6xl lg:text-8xl font-sans font-bold text-center tracking-tight">
            <div class="ts text-purple-50 inline-block">Learn how to code</div>
        </div>
        <div class="ts mt-6 max-w-2xl mx-8 md:mx-auto text-base md:text-lg lg:text-2xl font-sans font-normal text-center tracking-wide text-purple-200">
            Get the hang of programming skills with Ideoxan!
        </div>
        <div class="ts mt-8 flex flex-row flex-wrap md:flex-nowrap space-y-4 md:space-y-0 md:space-x-8 mx-12 md:mx-auto md:w-max pb-16 sm:pb-0">
            <a class="ts button bg-purple-500 border-transparent text-white shadow-md ring-1 ring-gray-900 ring-opacity-5 hover:shadow-lg hover:bg-purple-600" href="/editor/tutorial/000/000">View the Demo</a>
            <a class="ts button button-primary-inverted" href="/signup">Join the Wait →</a>
        </div>
        <div class="ts mt-16 mx-auto max-w-6xl hidden sm:block sm:max-h-48 md:max-h-60 lg:max-h-96 overflow-hidden shadow-2xl">
            <img class="ts rounded-2xl ring-1 ring-opacity-5 ring-gray-900" src="/static/img/webdrop.png">
        </div>
    </div>
</div>