<!DOCTYPE html>
<html lang="en" cellpadding="0" cellspacing="0">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ideoxan</title>

        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="icon" type="image/png" href="../static/ix_color_pb.png">
        <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../static/lib/prism-monokai.css">

        <script data-main="../static/js/index" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
        <script>
            require.config({
                paths: {
                    'ace': 'https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/',
                    'jquery': 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min',
                    'prism': 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min',
                }
            })
        </script>
    </head>
    <body id="editor-body">
        <!-- Top Color Bar -->
        <table id="top-cbar">
            <tr>
                <td id="top-cbar-t1">
                    <img id="top-cbar-ix" class="ico-16px" src="../static/ix_primary_transparent_w.png">
                </td>
                <td id="top-cbar-t2">
                    <span id="connected-icon" class="mdi mdi-help ico-12px"></span> 
                    <span id="connected-status" class="subheading">Connecting...</span>
                </td>
                <td id="top-cbar-t3">
                    <span id="top-cbar-title">Lesson Title: Subtitle</span>
                </td>
                <td id="top-cbar-t4">
                    <!--Intentionally left blank-->
                </td>
            </tr>
        </table>
        <table id="editor-container">
            <tr>
                <!-- Left side -->
                <td class="left">
                    <!-- Top Code Editor -->
                    <div id="code-editor">
                        <table class="editor-tabs">
                            <tr id="code-editor-tabs-container">
                                <!-- <td class="editor-tabs-t editor-tabs-t-inactive" id='editor-tabs-t-0'>
                                    <a href="#" class="box-link">
                                        <span class="mdi mdi-language-html5 ico-12px ico-html"></span> <span class="editor-tabs-filename">index.html</span>
                                    </a>
                                </td> -->
                            </tr>
                        </table>

                        <div id="code-editor-container"></div>
                    </div>
                    <!-- Terminal?? -->

                    
                </td>
                <!-- Right Side -->
                <td class="right">
                    <!-- Top Viewport/Console -->
                    <div id="right-top">
                        <table class="editor-tabs">
                            <tr id="right-tabs-container">
                                <!-- <td class="editor-tabs-t editor-tabs-t-active" id='editor-tabs-t-r-0'>
                                    <a href="#" class="box-link">
                                        <span class="mdi mdi-monitor ico-12px ico-white"></span> <span class="editor-tabs-filename">Viewport</span>
                                    </a>
                                </td> -->
                            </tr>
                        </table>
                        <div id="viewport">
                            <iframe id="viewport-iframe-content" srcdoc="<span style='font-size:5px;color:#ff0000'>you shouldn't be able to read this...</span>"> </iframe>
                        </div>
                        <div id="terminal">
                            <div id="terminal-container">
                                <!-- <p class="terminal-out"><span class="terminal-out-time">time</span> [CONSOLE] This is a sample output (index.js:1:1)</p> -->
                            </div>
                        </div>
                    </div>
                    <!-- Bottom Lesson Guide -->
                    <div id="lesson-guide">
                        <div id="lesson-guide-div">
                            Lesson Guide
                        </div>
                        <div id="lesson-guide-container">
                            <div id="lesson-guide-content">
                                <h1>Lesson Title</h1>
                                <h2>Lesson 0</h2>
                                <h3>Tutorial</h3>
                                <p>Hello! Welcome to the Ideoxan Lesson Editor. This editor is a fully interactive, open source editor for completing tasks in Ideoxan courses.</p>

                                <h4>Lesson Guide</h4>
                                <p>This is a paragraph in the <code>Lesson Guide</code> that describes some background information regarding a lesson or topic. This can cover history, legacy software, usage, and much more. This information can be found in the Lesson Guide which is located in the lower right corner of the Ideoxan Editor. Actually, you're reading the lesson guide right now!</p>
                                <p>The lesson guide uses HTML to display content meaning that lessons can easily be created and modified wihtout worrying about styling. For example the following is a piece of block code. The only thing the curriculum builder has to provide is the content and the language.</p>
                                <pre class="language-js"><code>let var1 = 10
var1 = "Hello,"
</code></pre>

                                <h4>Editor Top Bar</h4>
                                <p>This displays the current lesson title along with a status on the save progress or connection status.</p>

                                <h4>Ideoxan Code Editor</h4>
                                <p>To the left, you can see the <code>Ideoxan Code Editor</code>. This is where all of the program code will be typed out. At the top of the input are the various files you have access to. These files are stored in memory and can store different data. They operate similar to actual computer files found on a hard drive. These files can be accessed by each other since they are under the same directory. </p>
                                <p>For instance, if you wanted to use <code>styles.css</code> in <code>index.html</code> you would link it just like any other CSS file:</p>
                                <pre class="language-html"><code>&lt;link href=&quot;styles.css&quot; type=&quot;text/css&quot; rel=&quot;stylesheet&quot;&gt;</code></pre>
                                <p>Same concept would apply to scripts.</p>
                                <pre class="language-html"><code>&lt;script src=&quot;index.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
                                <p>The web compiler will know the difference between external and local files</p>
                                <pre class="language-html"><code>&lt;script src=&quot;index.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;!-- ... vs ... --&gt;
&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></pre>
                                <p>The code editor features syntax highlighting, undo/redo functions, and many other features modern editors have. The editor is powered by the <a href="https://ace.c9.io/">Ace Editor</a> featured in the Cloud9 Editor. At the bottom of the editor is the editor status bar. It displays the line number, column number, tab size, and the programming language.</p>

                                <h4>Viewport and Terminal</h4>
                                <p>To the top right of the editor is where both the viewport and the output terminal are located. Just like the code editor, the Viewport and Terminal are two seperate tabs.</p>
                                <p>The viewport is where all of the compiled HTML, CSS, and JS are displayed and run. It is updated whenever the input of the editor changes. </p>
                                
                                <h3>Now You Try</h3>
                                <p>We already provided you with some sample HTML code.</p>
                                <div class="lesson-guide-completion">
                                    <span class="lesson-guide-completion-checkbox completed mdi mdi-checkbox-marked ico-18px" id="lesson-guide-completion-checkbox-0"></span><span class="lesson-guide-completion-step">Step 1: </span>
                                    Take a look at the code. As you can see in the viewport, a simple little HTML webpage was created. Neat right?
                                </div>
                                <div class="lesson-guide-completion">
                                    <span class="lesson-guide-completion-checkbox not-completed mdi mdi-checkbox-blank-outline ico-18px" id="lesson-guide-completion-checkbox-1"></span><span class="lesson-guide-completion-step">Step 2: </span>Now lets add some color and variation. Open the <code>styles.css</code> tab and paste the following (don't worry about not understanding it now, we will discuss it all later):
                                    <pre class="language-css"><code>
#para1 {
    font-size: 20px;
}

#para2 {
    color: #ff0000;
}

.new-list-element {
    font-weight: bold;
}
                                    </code></pre>
                                </div>
                                <div class="lesson-guide-completion">
                                    <span class="lesson-guide-completion-checkbox not-completed mdi mdi-checkbox-blank-outline ico-18px" id="lesson-guide-completion-checkbox-2"></span><span class="lesson-guide-completion-step">Step 3: </span>Amazing! Now try and click the button. Notice how it doesn't do anything? Lets change that. Open <code>index.js</code> and paste the following
                                    <pre class="language-js"><code>
function buttonClick() {
    var node = document.createElement("li")
    var text = document.createTextNode("Hey!")
    node.appendChild(text)
    node.classList.add("new-list-element")
    document.getElementById("list").appendChild(node)
    console.log('Hello, World!')
}
                                    </code></pre>
                                    Now it adds new entries in the list that are bolded each time you click the button! Click it as many times as you'd like.
                                </div>
                                <div class="lesson-guide-completion">
                                    <span class="lesson-guide-completion-checkbox not-completed mdi mdi-checkbox-blank-outline ico-18px" id="lesson-guide-completion-checkbox-3"></span><span class="lesson-guide-completion-step">Step 4: </span>Go to the terminal tab. Each one of those entries labeled with <code>[CONSOLE] Hello, World!</code> are from each one of the times the button was clicked! This is because the terminal entries correspond to each time the JavaScript function <code>console.log( )</code> is called. Pretty cool right? Try changing what is in between the quotes in the parentheses and see what happens.
                                </div>
                                <p>After you're done with this, move on to the next lesson.</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="bottom-container">
                <td class="leftbottom">
                    <div id="statusbar">
                        <div class="statusbar-info" id="statusbar-pos">Line 1, Col 1</div>
                        <div class="statusbar-info" id="statusbar-tabsize">Tab Size: 4 Spaces</div>
                        <div class="statusbar-info" id="statusbar-lang">javascript</div>
                    </div>
                </td>
                <td class="rightbottom">
                    <table>
                        <tr>
                            <td id="button-lesson-back">
                                <a href="#" class="button-lesson-controls-link">
                                   <p class="subheading"><span class="mdi mdi-chevron-left ico-18px ico-dark"></span> Previous Lesson</p>
                                </a>
                            </td>
                            <td id="button-lesson-next">
                                <a href="#" class="button-lesson-controls-link">
                                    <p class="subheading">Next Lesson <span class="mdi mdi-chevron-right ico-18px ico-white"></span></p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>


        <!-- Scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-css.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-html.js" type="text/javascript" charset="utf-8"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>

        <script type="text/javascript" src="../static/js/index.js"></script>
        <script type="text/javascript" src="../static/js/utils.js"></script>
        
    </body> 
</html>
