<footer>
    <a class="nav-element nav-element-inactive" href="/tos"><%- __('tos.pageName') %></a>
    <a class="nav-element nav-element-inactive" href="/privacy"><%- __('privacy.pageName') %></a>
    <div class="footer-langs">
        <span class="mdi mdi-translate ico-14px nav-element" style="margin-right: 8px;cursor:pointer; opacity: 0.5;"></span></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=en')">English</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=es')">Español</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=hi')">हिन्दी</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=sv')">Svenska</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=id')">Bahasa Indonesia</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=de')">Deutsch</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=fr')">Français</a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=ru')">Русский</a>
    </div>
    <a href="https://github.com/ideoxan" id="footer-tag"><img class="ico-18px footer-img ix-logo" src="<%- cfg.logoPath %>"> Made with &#x1F496; by <%- cfg.name %></a>
</footer>