<header class="headertall" id="header-promo-201108">
    <div id="header-promo-201108-left">
        <div id="header-promo-200620-header"><%- __('header.h200620.heading1') %> <span><%- __('header.h200620.heading2') %></span></div>
        <div id="header-promo-200620-subheader"><%- __('header.h200620.subheading') %></div>
        <a href="/editor/tutorial/000/000" class="button button-primary"><%- __('header.h200620.button') %><span class="mdi mdi-chevron-right ico-16px"></span></a>
    </div>
    <div id="header-promo-201108-right">
        <img src="/static/img/codeheader.svg" height="80%" width="auto">
    </div>
</header>