/* ---------------------------------------------------------------------------------------------- */
/*                                              BASIC                                             */
/* ---------------------------------------------------------------------------------------------- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
    color: var(--light-1);
    font: var(--primary-font);
    border-spacing: 0;
    scroll-behavior: smooth;
}

.heading {
    font-size: 24px;
    line-height: 24px;
    width: max-content;
} 

.subheading {
    color: var(--light-3);
    font-size: 9px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    width: max-content;
}

h1, h2 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

h3, h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
}

h4 {
    font-size: 14px;
    font-style: italic;
}

p {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 24px;
    line-height: 20px;
}

.container {
    width: 100vw;
}

table {
    border-spacing: 0;
}

a {
    color: var(--primary-color);
}

/* ------------------------------------------ Selection ----------------------------------------- */

::selection, ::-moz-selection {
    color: var(--light-1);
    background-color: var(--primary-color);
}

/* ------------------------------------------- Spacers ------------------------------------------ */

.spacer-8px {
    width: 8px;
    height: 8px;
}

.spacer-12px {
    width: 12px;
    height: 12px;
}

.spacer-16px {
    width: 16px;
    height: 16px;
}

/* -------------------------------------------- Icons ------------------------------------------- */

.mdi {
    vertical-align: middle;
}

[class*="ico-"] {
    width: auto;
}

.ico-2px {
    height: 2px;
    font-size: 2px;
}

.ico-4px {
    height: 4px;
    font-size: 4px;
}

.ico-8px {
    height: 8px;
    font-size: 8px;
}

.ico-12px {
    height: 12px;
    /* Can be applied to both icons and images :) */
    font-size: 12px;
}

.ico-16px {
    height: 16px;
    font-size: 16px;
}

.ico-18px {
    height: 18px;
    font-size: 18px
}

.ico-24px {
    height: 24px;
    font-size: 24px;
}

.ico-32px {
    height: 32px;
    font-size: 32px;
}

.ico-64px {
    height: 64px;
    font-size: 64px;
}

.ico-128px {
    height: 128px;
    font-size: 128px;
}

.ico-html5 {
    color: #e34f26;
}

.ico-javascript {
    color: #f7df1e;
}

.ico-css3 {
    color: #2965f1;
}

.ico-white {
    color: var(--light-1);
}

.ico-dark {
    color: var(--dark-1);
}

.ico-primary {
    color: var(--primary-color);
}

/* ----------------------------------------- Code Block ----------------------------------------- */

code {
    font: var(--secondary-font);
    background-color: var(--dark-2) !important;
    color: var(--primary-color);
    padding: 2px 4px;
    margin: 0 3px;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
}

pre {
    display: block;
    white-space: pre-wrap;
    overflow-x: auto;
    background-color: var(--dark-2) !important;
    margin-bottom: 24px !important;
    padding: 12px 0 12px 24px !important;
}

pre code {
    /* To override prism.js styling */
    padding: 0 !important;
    margin: 0 !important;
}

/* ------------------------------------------- Buttons ------------------------------------------ */
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: inline-block;
    text-align: center;
    font-size: 9px;
    font-weight: bold !important;
    padding: 8px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 8px;
    text-decoration: none;
    cursor: pointer;
}
/* Can this be put in the button selector? */
[class*='button-'], [class*='button-']:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.button-primary {
    color: #ffffff;
    background-color: var(--primary-color);
}

.button-primary:hover {
    background-color: #A47DEB;
}

.button-dark {
    color: var(--light-1);
    background-color: var(--dark-2);
}

.button-danger {
    color: var(--light-1);
    background-color: #ff0909;
}

.button-danger:hover {
    background-color: #ff4545;
}

.button-dark:hover, .button-disabled {
    background-color: var(--dark-3);
}

.button-light {
    color: var(--dark-1);
    background-color: var(--light-2);
}

.button-light:hover {
    background-color: var(--light-3);
}

.button-disabled {
    cursor: default;
    color: var(--light-3);
}

/* -------------------------------------------- Toast ------------------------------------------- */
.toast {
    display: block;
    width: 250px;
    padding: 12px 0;
    background-color: var(--dark-2);
    position: fixed;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-align: center;
    left: calc(50vw - 138px);
    top: 120vh;
    z-index: 10000;
}


.toast-error {
    background-color: #ff3333;
    color: var(--light-1);
}

.toast-success {
    background-color: #55ff55;
    color: var(--dark-1);
}

@keyframes toastIn {
    from {
        top: 120vh;
        opacity: 0;
    }
    to {
        top: 90vh;
        opacity: 1;
    }
}

@keyframes toastOut {
    from {
        top: 90vh;
        opacity: 1;
    }
    to {
        top: 120vh;
        opacity: 0;
    }
}