<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ideoxan</title>

        <link rel="stylesheet" href="/static/css/styles.css">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
    </head>

    <body class="w-screen h-screen bg-white overflow-x-hidden">
        <!--------------------------------------- Nav Bar --------------------------------------->
        <%- include('./partials/nav/nav.ejs', locals) %>

        <!---------------------------------------- Hero ----------------------------------------->
        <%- include('./partials/hero/hero.ejs', locals) %>

        <!--------------------------------------- Scripts --------------------------------------->
        <script src="static/js/index.js"></script>
    </body>

</html>
