<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head/universalhead.ejs', {title: reqUserDisplayName}) %>
    </head>

    <body class="ts w-screen h-screen bg-white dark:bg-black overflow-x-hidden">
        <div class="ts flex flex-col w-screen h-screen"> 
            <header class="ts z-20 flex flex-col flex-nowrap flex-shrink-0 min-w-screen shadow-lg ring-1 ring-gray-900 ring-opacity-10 bg-opacity-0">

                <% if (buildEnv !== 'production') { %>
                    <!------------------------------------- Dev Banner -------------------------------------->
                    <%- include('./partials/nav/dev_banner.ejs', locals) %>
                <% } %>
            </header>
            <main class="ts flex-1 overflow-y-auto">
                <div class="ts min-w-full h-full flex flex-col md:flex-row bg-purple-50 dark:bg-gray-950">
                    <!------------------------------------ Dashboard Nav ------------------------------------>
                    <%- include('./partials/dashboard_parts/dashboard_nav.ejs', locals) %>

                    <div class="ts w-full h-full flex flex-col">
                        <div class="ts w-full h-2/5 bg-purple-600">

                        </div>
                    </div>
                </div>                
            </main>
        </div>
        <!--------------------------------------- Scripts --------------------------------------->
        <script src="/static/js/index.js"></script>
        
    </body>

</html>
