/* ---------------------------------------------------------------------------------------------- */
/*                                            SPECIFICS                                           */
/* ---------------------------------------------------------------------------------------------- */

html {
    overflow-x: hidden;
}

#body-fullwh {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-1);
}

.inner-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----------------------------------------- Error Pages ---------------------------------------- */

#error-bigheader {
    color: var(--primary-color);
    font: var(--secondary-font);
    font-size: 200px;
    font-weight: bold;
}

#error-smallheader {
    color: var(--light-1);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

#error-descr {
    font-size: 14px;
    line-height: 20px;
}

#error-contact {
    font-size: 10px;
    margin-top: 20px;
    font-style: italic;
}

#error-code {
    font: var(--secondary-font);
    font-size: 8px;
    margin-top: -20px;
    text-align: center;
}

#error-go-home {
    text-decoration: none;
    line-height: 40px;
}

/* ------------------------------------------ Countdown ----------------------------------------- */
#topbanner {
    position: fixed;
    background-color: var(--primary-color);
    color: var(--light-1);
    font-size: 32px;
    bottom: 0;
    z-index: 10000;
    width: 100vw;
    font-weight: bold;
}

#cd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.cd-nums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    width: 48px;
}

.cd-nums span {
    display: block;
}

/* --------------------------------------------- Nav -------------------------------------------- */

.nav-element-inactive, .nav-element-inactive:hover, nav {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

nav {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    background-color: rgba(18, 18, 18, 0);
    z-index: 100;
    align-items: center;
    justify-content: flex-start;
    padding: 0 32px;
}

#nav-right {
    margin-left: auto;
}


.nav-element {
    display: inline-block;
    text-decoration: none;
    color: var(--light-1);
    text-align: center;
    margin-right: 32px;
}

.nav-logo {
    display: inline-block; /* Which? This or the below ones? */
    align-items: center;
    justify-content: flex-start;
}

.nav-element-inactive {
    opacity: 0.5;
}

.nav-element-active, .nav-element-inactive:hover {
    opacity: 1;
}

.nav-user {
    position: relative;
    background: var(--dark-2);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 26px;
    margin: 8px;
}

.nav-user-img, .nav-user p, .nav-user a {
    display: inline-block;
}

.nav-user p {
    margin: auto 8px auto 12px;
    font-size: 12px;
    align-self: center;
    text-align: left;
}

.nav-user a, .nav-user a:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.nav-user a {
    margin: 1px 8px 0 0;
    opacity: 0.5;
    text-decoration: none;
}

.nav-user a:hover {
    opacity: 1;
}

.nav-user-img {
    width: 26px;
    height: 26px;
    background: var(--dark-3);
    border-radius: 50%;
}

.nav-user-dropdown {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;

    position: absolute;
    right: 0;
    top: 4px;
    display: flex;
    flex-direction: column;
    z-index: -5;
    opacity: 0;
    background-color: var(--dark-2);
    padding: 24px 0 8px;
    width: 100%;
    border-radius: 8px;
}

.nav-user-dropdown-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    padding: 8px 12px !important;
    color: var(--light-3);
    background-color: var(--dark-2);
    border: none;
    text-align: right;
    justify-content: right;
    align-items: center;
}

.nav-user-dropdown-item, .nav-user-dropdown-item:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.nav-user-dropdown-item:hover {
    opacity: 1;
}

/* -------------------------------------------- Main -------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* ------------------------------------------- Header ------------------------------------------- */

/* TODO: Center image for multiple displays */
.headershort, .headertall {
    width: 100vw;
}

.headershort {
    height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 64px;
    background-color: var(--primary-color);
}

.headertall {
    height: 640px;
    background-color: #0a0a0a;
}

#header-promo-200620 {
    background-color: #0a0a0a;
    width: 100vw;
    height: calc(50vh + 48px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#header-promo-200620-img {
    width: 100vw;
    height: 100%;
    position: relative;
    background: url('/static/img/websiteheader200626.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 64px;
    box-shadow: inset 0 0 40px 0 rgba(0, 0, 0, 0.7);
}

#header-promo-200620-header, #header-short-header {
    font-size: 64px;
    font-weight: bold;
}

#header-promo-200620-header {
    margin-top: 48px;
}

#header-promo-200620-header span {
    color: var(--primary-color);
}

#header-promo-200620-subheader, #header-short-subheader {
    margin-top: 8px;
    font-weight: 500;
    font-size: 24px;
}

header .button {
    margin: 16px 0;
    width: max-content;
}


/* ----------------------------------------- Content Div ---------------------------------------- */

.contentdiv {
    width: 100vw;
    padding: 64px 78px 64px 50px; /* Stupid scroll bar... */ /* Wdym? */
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

.cd-type-0 {
    background-color: var(--dark-1);
}

.cd-type-1 {
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cd-type-1-heading {
    font-size: 48px;
}

.cd-type-1-subheading {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--light-1);
}

/* ------------------------------------------ Features ------------------------------------------ */

.feature-wrapper {
    display: flex;
    width: 100%;
    margin: 32px 0;
}

.feature-content {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 64px;
}

.feature-content span {
    margin: 8px;
}

#ixefeatures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#ixefeatures img {
    display: block;
    align-self: center;
    width: 40vw;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.14);
    image-rendering: optimizeQuality;
}

#ixefeatures-list {
    margin-left: 32px;
}

#ixefeatures-dots {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.ixefeature {
    display: none;
    width: 40vw;
    flex-direction: row;
    align-content: flex-start;
}

.ixefeature-content {
    margin-left: 16px;
    align-self: flex-end;
}

#ixefeature-0 {
    display: flex;
}

.ixefeature-dot, .ixefeature-dot:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.ixefeature-dot {
    cursor: pointer;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--dark-2);
    border: 2px solid var(--light-3);
    margin: 24px 8px;
}

.ixefeature-dot:hover, .ixefeature-dot-active {
    background-color: var(--light-1);
    border-color: var(--light-1);
}


/* ------------------------------------------ Box Grid ------------------------------------------ */

.boxgrid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.boxgrid-tall, .boxgrid-short, .boxgrid-tall:hover, .boxgrid-short:hover
.boxgrid-tall:hover .boxgrid-cbg, .boxgrid-short:hover .boxgrid-cbg, .boxgrid-cbg {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.boxgrid-tall, .boxgrid-short {
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: var(--dark-1);
    border-radius: 8px;
    min-height: 320px;
    margin: 8px 0;
    box-shadow: 0 0 19px -5px rgba(0, 0, 0, 0.14)
}

.boxgrid-tall {
    height: 360px;
}

.boxgrid-short {
    height: 120px !important;
}

.boxgrid-tall:hover, .boxgrid-short:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.12)
}

.boxgrid-cs::before {
    content: 'Coming Soon';
    display: flex;
    position: absolute;
    width: 320px;
    height: 360px;
    background-color: #000000dd;
    color: var(--light-3);
    font-size: 9px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.boxgrid-cbg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 320px;
    height: 120px;
    border-radius: 8px 8px 0 0;
}

.boxgrid-tall:hover .boxgrid-cbg, .boxgrid-short:hover .boxgrid-cbg {
    background-size: 110%;
}

.boxgrid-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    border-radius: 8px 8px 0 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 70%);
    width: 320px;
    height: 120px;
    padding: 8px 8px 0;
}

.boxgrid-top .subheading {
    color: var(--light-1);
}

.boxgrid-top-price {
    color: #ffd600 !important;
    margin-bottom: auto;
}

.boxgrid-bottom {
    padding: 8px 8px 0 8px;
}

.boxgrid-bottom h6 span {
    margin-right: 18px;
}

.boxgrid-bottom p {
    margin-top: 12px;
}

.boxgrid-bttns {
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    width: 100%;
}

.boxgrid-short .boxgrid-bttns {
    margin-top: 8px;
    align-self: flex-start;
}

.boxgrid-bttnl, .boxgrid-bttnr, .boxgrid-bttnc {
    margin: 2px 0 0;
    flex: 50%;
}

.boxgrid-bttnl {
    border-radius: 0 0 0 8px;
}

.boxgrid-bttnc {
    border-radius: 0 0 8px 8px;
}

.boxgrid-bttnr {
    border-radius: 0 0 8px 0;
}

.boxgrid-more {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.boxgrid-more-link {
    text-decoration: none;
}

/* ------------------------------------------- Pricing ------------------------------------------ */

.pricing-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: max-content;
    justify-content: space-around;
    overflow-x: auto;
}

.tg td, .tg th {
    padding: 20px 40px;
    word-break: normal;
}

.tg th {
    padding-bottom: 40px;
}

.tg .tg-cbli {
    position: -webkit-sticky;
    position: sticky;
}

.tg .tg-cly1, .tg .tg-cbli {
    text-align: left;
    vertical-align: middle
}

.tg .subheading {
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid var(--dark-2);
}

.tg .tg-38jg, .tg .tg-cbli {
    top: -1px;
    will-change: transform
}

.tg .tg-nrix, .tg .tg-38jg {
    text-align: center;
    vertical-align: middle
}

.pricing-price {
    font-weight: bold;
    font-size: 18px
}

.pricing-incl {
    color: #0f0;
}

.pricing-notincl {
    color: #f00;
}

/* -------------------------------------------- About ------------------------------------------- */
#contactlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}

#contactlist button {
    width: calc(20% - 16px)
}

/* ---------------------------------------- Contributors ---------------------------------------- */
#contrib {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: space-between;
}

.contrib-user {
    background: var(--dark-2);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 24px 0;
}

.contrib-user-img, .contrib-user p, .contrib-user a {
    display: inline-block;
}

.contrib-user p {
    margin: auto 24px auto 18px;
    font-size: 20px;
    align-self: center;
    text-align: left;
}

.contrib-user a, .contrib-user a:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.contrib-user a {
    margin: 1px 18px 0 0;
    opacity: 0.5;
}

.contrib-user a:hover {
    opacity: 1;
}

.contrib-user-img {
    width: 50px;
    height: 50px;
    background: var(--dark-3);
    border-radius: 50%;
}

/* -------------------------------------------- Auth -------------------------------------------- */

.logintitle {
    width: 100%;
    text-align: center;
}

.loginform, .loginform div{
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: center;
    align-self: center;
}

.loginform-input {
    -moz-appearance: none;
    appearance: none;
    color: var(--light-1);
    background-color: var(--dark-1);
    border: none;
    border-bottom: 2px solid var(--dark-2);
    font: var(--primary-font);
    font-weight: normal;
    size: 12px;
    height: 32px;
    width: 360px;
    padding: 4px 8px;
    margin: 18px 8px;
}

.loginform-inputdiv label {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;

    color: var(--light-3);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    align-self: flex-start;
    position: absolute;
    margin-top: 8px;
}

.loginform-input:focus {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    
    border-bottom: 2px solid var(--primary-color);
}

.loginform .button {
    width: 376px;
}

.loginmsg {
    color: #ff0000;
}

.loginform-discl {
    font-size: 10px;
}

/* --------------------------------------------- TOS -------------------------------------------- */
.legal {
    width: 40vw;
    align-self: center;
}

.legal .subheading {
    margin-top: 12px;
    margin-bottom: 8px;
}

.legal ol {
    counter-reset: section;
    list-style-type: none;
    margin-bottom: 8px;
}

.legal > ol {
    margin-bottom: 24px;
}

.legal li {
    counter-increment: section;
    margin: 4px 0 4px 24px;
}

.legal li::before {
    content: counters(section, '.');
    font-weight: 500;
    font-size: 12px;
    margin-right: 12px;
}

/* ------------------------------------------ Progress ------------------------------------------ */
.prog-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.prog {
    background-color: var(--dark-1);
    border: 2px solid var(--dark-2);
    margin: 12px;
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    max-width: max-content;
    min-width: 25%;
}

.prog-circle, .prog-circle svg {
    width: 64px;
    height: 64px;
    position: relative;
}

.prog-circle svg circle {
    fill: none;
    stroke-width: 8px;
    stroke-linecap: butt;
    transform: translate(4px, 4px);
}

.prog-circle .prog-circle-back {
    stroke: var(--dark-2);
}

.prog-circle .prog-circle-top {
    stroke: var(--primary-color);
    stroke-dasharray: 175.929px;
    /* stroke-dashoffset: calc(175.929px - calc(175.929px * .90)); */
}

.prog-percent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: -1px;
    right: 0;
    width: 100%;
    height: 100%;
    font: var(--secondary-font);
    font-size: 12px;
}

.prog-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: min-content;
    align-items: flex-start;
    justify-content: center;
    padding-left: 18px;
    margin: auto 0;
}

.prog-content a {
    color: var(--light-1);
    text-decoration: none;
}

.prog-content h3 {
    margin-bottom: 0;
}

.prog-content h2 {
    margin: 4px 0px 0px;
}

.prog-content h2 > span > span {
    margin-right: 4px;
}

.prog-content span {
    margin-right: 18px;
}

.prog-empty {
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;  
    width: 100%;
    padding-top: 12px;
}

.prog-empty-header {
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0 4px;
}

/* ---------------------------------------- User Updates ---------------------------------------- */
.usersettings {
    display: flex;
    flex-flow: row wrap;
}

.usersettings > div:not(.usersettings-newline) {
    width: 33%;
}

.usersettings-newline {
    align-items: center;
    text-align: center;
}

.usersettings-newline button

.usersettings-split {
    flex-basis: 100%;
    height: 0;
}

.userupdateform, .userupdateform div{
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: flex-start;
    align-self: flex-start;
}

.userupdateform-input {
    -moz-appearance: none;
    appearance: none;
    color: var(--light-1);
    background-color: var(--dark-1);
    border: none;
    border-bottom: 2px solid var(--dark-2);
    font: var(--primary-font);
    font-weight: normal;
    size: 12px;
    height: 32px;
    width: 360px;
    padding: 4px 8px;
    margin: 18px 8px;
}

.userupdateform-inputdiv label {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;

    color: var(--light-3);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    align-self: flex-start;
    position: absolute;
    margin-top: 8px;
}

.userupdateform-input:focus {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    
    border-bottom: 2px solid var(--primary-color);
}

.dangerzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 620px;
}

.dangerzone form {
    align-self: center;
    width: max-content;
}

/* ------------------------------------------- Footer ------------------------------------------- */

footer {
    height: 170px;
    background-color: #0a0a0a;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 32px 64px;
}

#footer-tag, #footer-tag:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

#footer-tag {
    opacity: 0.2;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: unset;
    margin: 12px 0 0;
}

#footer-tag:hover {
    opacity: 0.6;
}

.footer-img {
    margin-right: 32px;
}

footer .nav-element {
    margin: 12px 0;
}

/* ---------------------------------------------------------------------------------------------- */
/*                                          MEDIA QUERIES                                         */
/* ---------------------------------------------------------------------------------------------- */

@media (max-width: 1280px) {
    #header-promo-200620-img {
        background-size: cover;
        background-position: -150%;
    }
    .pricing-wrapper {
        width: 100%;
        overflow-x: auto;
    }
}

@media (max-width: 850px) {
    .feature-wrapper {
        flex-wrap: wrap;
    }

    .contentdiv {
        align-items: center;
        justify-content: center;
    }

    .contentdiv > p {
        text-align: center;
    }
}