<div class="ts container bg-purple-50 dark:bg-gray-950">
    <div class="ts max-w-7xl mx-auto flex flex-col bg-purple-600 rounded-xl px-12 py-12 shadow-2xl">
        <div class="ts mx-auto text-2xl md:text-3xl lg:text-4xl text-center font-extrabold font-sans text-white tracking-tight">
            Introducing Ideoxan Solutions
        </div>
        <div class="mt-4 ts max-w-2xl mx-auto text-base md:text-lg font-medium text-center font-sans text-purple-200">
            Need to supercharge learning in your classroom?<br>
            Find a new way to educate with <b>IX/EDU</b>
        </div>
        <div class="ts mt-4 mx-auto button bg-purple-800 border-transparent text-purple-500 ring-1 ring-gray-900 ring-opacity-5">Coming Soon</div>
    </div>
</div>