<div id="dashboard-content-url-me" class="dashboard-content ts w-full h-full flex flex-col">
    <div class="ts flex flex-col md:flex-row w-full px-4 md:px-12 lg:px-28 pt-16 pb-20 bg-gradient-to-r from-purple-500 to-purple-700">
        <div class="ts flex flex-col flex-shrink-0 mx-auto md:mx-0 my-auto w-20 h-20 lg:w-32 lg:h-32 bg-gray-200 rounded-full">
            <svg class="ts flex-shrink-0 mx-auto my-auto icon w-2/3 h-2/3 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#user"></use>
            </svg>
        </div>
        <div class="ts flex flex-col mt-4 md:mb-auto md:mt-auto md:ml-8">
            <div class="ts text-6xl mx-auto md:mx-0 text-center md:text-left font-sans font-extrabold tracking-tight text-purple-50">
                Skyclo
            </div>
            <div class="ts mt-2 text-base mx-auto md:mx-0 text-center md:text-left font-sans font-medium tracking-wide text-purple-200">
                @skyclo
            </div>
        </div>
        <div class="ts flex flex-row mt-4 md:mt-auto md:mb-auto mx-auto md:mx-0 md:ml-auto space-x-3">
            <div class="ts" title="Member">
                <svg class="ts icon w-5 h-5 text-gray-50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/static/icons/feather-sprite.svg#smile"></use>
                </svg>
            </div>
            <div class="ts" title="Site Moderator">
                <svg class="ts icon w-5 h-5 text-gray-50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/static/icons/feather-sprite.svg#shield"></use>
                </svg>
            </div>
            <div class="ts" title="Verified">
                <svg class="ts icon w-5 h-5 text-gray-50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/static/icons/feather-sprite.svg#check-circle"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="ts container flex flex-col-reverse lg:flex-row bg-purple-50 dark:bg-gray-950">
        <div class="ts w-full lg:w-4/6 flex flex-col mt-8 lg:mt-0">
            <div class="ts text-left text-2xl font-sans font-semibold text-gray-950 dark:text-gray-50">
                Skyclo's Progress
            </div>
            <div class="ts mt-4 w-full flex lg:pr-8 flex-wrap">
                <%- include('./partials/user_parts/user_progress.ejs', {
                    locals,
                    course: {
                        name: 'Intro to HTML',
                        percentCompleted: 0.65
                    }
                }) %>
                <%- include('./partials/user_parts/user_progress.ejs', {
                    locals,
                    course: {
                        name: 'Intro to HTML',
                        percentCompleted: 0.65
                    }
                }) %>
                <%- include('./partials/user_parts/user_progress.ejs', {
                    locals,
                    course: {
                        name: 'Intro to HTML',
                        percentCompleted: 0.65
                    }
                }) %>
            </div>
            <div class="ts mt-8 text-left text-2xl font-sans font-semibold text-gray-950 dark:text-gray-50">
                Skyclo's Finished Courses
            </div>
            <div class="ts mt-4 w-full flex gap-4 flex-wrap">
                <%- include('./partials/user_parts/user_progress.ejs', {
                    locals,
                    course: {
                        name: 'Tutorial',
                        percentCompleted: 1,
                        finishedDate: '2020 Jan 16'
                    }
                }) %>
            </div>
        </div>
        <div class="ts w-full lg:w-2/6 mb-auto bg-purple-100 dark:bg-gray-900 rounded-lg px-6 py-6 ring-1 ring-gray-500 ring-opacity-20 shadow-lg">
            <div class="ts text-left text-md font-sans font-medium text-gray-950 dark:text-gray-50">
                Created
            </div>
            <div class="ts mt-1 text-left text-sm font-sans font-normal text-gray-600 dark:text-gray-400">
                2020 Jan 16
            </div>
            <div class="ts mt-4 text-left text-md font-sans font-medium text-gray-950 dark:text-gray-50">
                Last Active
            </div>
            <div class="ts mt-1 text-left text-sm font-sans font-normal text-gray-600 dark:text-gray-400">
                2020 Jan 16
            </div>
            <div class="ts mt-4 text-left text-md font-sans font-medium text-gray-950 dark:text-gray-50">
                Bio
            </div>
            <div class="ts mt-1 text-left text-sm font-sans font-normal text-gray-600 dark:text-gray-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut velit in nunc luctus pharetra. Nullam a libero nibh. Duis volutpat malesuada dui eu varius. Nunc lobortis felis eu ligula viverra ullamcorper. Ut eget urna a nunc efficitur mattis. Nullam commodo mi nec dolor suscipit, vitae convallis sem interdum. In in faucibus est. Nam tristique eu arcu a vehicula.
            </div>
            
        </div>
    </div>
</div>