<div id="course-modal" class="ts fixed top-0 left-0 right-0 bottom-0 z-50 hidden justify-center items-center w-full h-full overflow-auto bg-black bg-opacity-90 md:px-4 md:py-8">
    <div class="ts w-full md:max-w-2xl h-full md:h-auto bg-gray-50 dark:bg-gray-950 md:rounded-xl shadow-2xl ring-1 ring-black ring-opacity-10">
        <div class="ts md:rounded-t-xl border-gray-900 border-opacity-20 border-b-2 pt-6 pb-4 px-8 bg-fixed bg-no-repeat bg-contain bg-right" style="background: linear-gradient(90deg, rgba(7, 11, 20, 1) 0%,rgba(7, 11, 20, 1) 45%, rgba(7, 11, 20, 0.9) 70%, rgba(7, 11, 20, 0) 100%), url('/static/img/htmlbanner.jpg') no-repeat right;">
            <div class="flex flex-row">
                <div class="mr-auto">
                    <div id="course-name" class="ts text-xl text-left font-semibold font-sans text-gray-50 tracking-tight">
                    </div>
                    <div class="ts mt-1 text-sm font-normal text-left font-sans text-gray-400">
                        <div id="course-chapters" class="inline-block">0 Chapters</div>
                        <div class="mx-2 inline-block">•</div>
                        <div id="course-lessons" class="inline-block">0 Lessons</div>
                    </div>
                </div>
                <a id="course-modal-close" class="ts text-2xl text-left font-semibold font-sans text-gray-50" href="#">&times;</a>
            </div>
        </div>
        <div class="ts py-8 px-8 space-y-4">
            <div class="">
                <div class="ts text-base text-left font-medium font-sans text-gray-900 dark:text-gray-50 tracking-tight">
                    Pathway
                </div>
                <div id="course-path" class="ts mt-1 text-base font-normal text-left font-sans text-gray-600 dark:text-gray-400">
                </div>
            </div>
            <div class="">
                <div class="ts text-base text-left font-medium font-sans text-gray-900 dark:text-gray-50 tracking-tight">
                    Tags
                </div>
                <div id="course-tags" class="ts mt-1 text-base font-normal text-left font-sans text-gray-600 dark:text-gray-400">
                </div>
            </div>
            <div class="">
                <div class="ts text-base text-left font-medium font-sans text-gray-900 dark:text-gray-50 tracking-tight">
                    Description
                </div>
                <div id="course-description" class="ts mt-1 text-base font-normal text-left font-sans text-gray-600 dark:text-gray-400">
                </div>
            </div>
            <div class="pt-6 pb-4 w-max ml-auto">
                <a id="course-start-button" class="ts ml-auto button button-primary" href="">Start →</a>
            </div>
        </div>
    </div>
</div>