<div class="ts w-full mt-0 pt-12 lg:pt-24 px-4 bg-gradient-to-tr from-indigo-900 via-purple-800 to-indigo-900 overflow-y-hidden">
    <div class="ts max-w-7xl mx-auto">
        <div class="ts mt-0 lg:mt-8 mb-4 lg:mx-auto lg:w-max transform text-4xl lg:text-7xl font-sans font-bold text-center tracking-tight">
            <div class="ts text-purple-50 inline-block">Learn how to code</div>
        </div>
        <div class="ts mt-6 mx-4 lg:mx-auto lg:w-max text-base lg:text-2xl font-sans font-normal text-center tracking-wide text-purple-200">
            Ideoxan is a free to use online tool to learn programming. Coming Soon
        </div>
        <div class="ts mt-8 flex flex-row flex-wrap md:flex-nowrap space-y-4 md:space-y-0 md:space-x-8 mx-12 md:mx-auto md:w-max pb-16 sm:pb-0">
            <a class="ts w-full md:w-max py-1.5 px-6 bg-transparent border-solid border-2 border-white text-white text-base font-sans font-semibold text-center rounded-lg hover:text-purple-200 hover:border-purple-200" href="/editor/tutorial/000/000">View the Demo</a>
            <a class="ts w-full md:w-max py-1.5 px-6 bg-white border-solid border-2 border-transparent text-purple-600 text-base font-sans font-semibold text-center rounded-lg shadow-md ring-1 ring-gray-900 ring-opacity-5 hover:shadow-lg hover:bg-purple-100" href="/signup">Join the Wait →</a>
        </div>
        <div class="ts mt-16 mx-auto max-w-6xl hidden sm:block sm:max-h-48 md:max-h-60 lg:max-h-96 overflow-hidden shadow-2xl">
            <img class="ts rounded-2xl ring-1 ring-opacity-5 ring-gray-900" src="/static/img/webdrop.png">
        </div>
    </div>
</div>