/* ---------------------------------------------------------------------------------------------- */
/*                                              BASIC                                             */
/* ---------------------------------------------------------------------------------------------- */

/* ----------------------------------------- Code Block ----------------------------------------- */

code {
    font: var(--secondary-font);
    background-color: var(--dark-2);
    color: var(--primary-color);
    padding: 2px 4px;
    margin: 0px 3px;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: var(--dark-2) !important;
    margin: 0px 0px 24px 0px !important;
    padding: 12px 0px 12px 24px !important;
}

pre code {
    background-color: var(--dark-2) !important;
    /* To override prism.js styling */
    padding: 0px !important;
    margin: 0px !important;
}

/* ---------------------------------------------------------------------------------------------- */
/*                                             EDITOR                                             */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------- Top Color Bar --------------------------------------- */

#top-cbar {
    background-color: var(--primary-color);
    padding: 8px 32px;
    /* height: 20px; /* Redundant */
    display: flex;
    flex-direction: row;
}

#top-cbar-t3 {
    width: calc(100vw - 318.5px);
    text-align: center;
}

#top-cbar-t4 {
    width: 127.25px;
}

#top-cbar-ix, #top-cbar-cnt>.subheading {
    margin-right: 32px;
}

#top-cbar-cnt>.ico-12px {
    margin-right: 8px;
}

#top-cbar-title {
    font-weight: 500;
}

/* ------------------------------------------ Divisions ----------------------------------------- */

#editor-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    width: 100%;
    height: calc(100vh - 67px);
    /*  Required */
    background-color: #000;
}

.right {
    width: 960px;
    max-height: calc(100vh - 67px);
    /* No need for max-widths now */
    background-color: #000;
}

.leftbottom {
    height: 32px;
    background-color: #000;
}

.rightbottom {
    height: 32px;
    background-color: #000;
    flex-shrink: 0;
    display: flex;
}

/* ----------------------------------------- Code Editor ---------------------------------------- */

#code-editor {
    height: 100%;
}

#code-editor-container {
    height: calc(100% - 32px);
    /* Required */
}

/* Ace */

.ace_editor {
    font: var(--secondary-font);
    font-size: 12px;
}

.ace_gutter, .ace_gutter-layer {
    background-color: var(--dark-1);
    width: 32px;
    font: var(--primary-font);
    font-size: 10px;
    font-weight: normal;
}

.ace_gutter-cell {
    padding-right: 16px;
    padding-left: 11px;
}

.ace_content {
    background-color: var(--dark-1);
}

/* ----------------------------------------- Status Bar ----------------------------------------- */

#statusbar {
    z-index: 10000;
    /* This should fix it */
    height: 8px;
    width: 100%;
    position: relative;
    background-color: var(--dark-2);
    display: flex;
    padding: 12px 0px;
}

.statusbar-info {
    height: 8px;
    font-size: 8px;
    display: inline-block;
    color: var(--light-3);
    text-align: left;
    margin-right: 32px;
    font-weight: 500;
}

#statusbar-pos {
    margin-left: 32px;
}

/* -------------------------------------------- Tabs -------------------------------------------- */

#code-editor-tabs-container, #right-tabs-container {
    display: flex;
    flex-direction: row;
}

#code-editor-tabs-container {
    flex-wrap: wrap;
}

.editor-tabs {
    width: 100%;
    border-collapse: collapse;
    border-color: #ff0000;
    border-spacing: 0px;
}

.editor-tabs-t {
    min-height: 12px;
    width: 100%;
    font-size: 10px;
    z-index: 100000;
    max-width: 200px;
}

.box-link {
    display: block;
    /* required */
    text-decoration: none;
    color: inherit;
    padding: 12px;
}

.editor-tabs-t-inactive {
    background-color: #000;
}

.editor-tabs-t-inactive span {
    opacity: 0.5;
}

.editor-tabs-t-active {
    background-color: var(--dark-1);
}

.editor-tabs-t-active span {
    opacity: 1;
}

.editor-tabs-filename {
    font-size: 10px;
    font-weight: 500;
    margin-left: 12px;
}

/* ------------------------------------------ Viewport ------------------------------------------ */

#viewport {
    width: 100%;
    height: calc(100% - 36px);
    /* Required */
    background-color: #fff;
    border: 10px var(--dark-2);
}

#terminal {
    background-color: var(--dark-1);
    border: 10px var(--dark-2);
    overflow: auto;
    height: calc(100% - 36px);
    /* Required */
}

#viewport-iframe-content {
    width: 100%;
    height: 100%;
    border: 10px var(--dark-1);
}

#terminal-container {
    height: 100%;
    overflow: auto;
}

.terminal-out {
    margin-left: 20px;
    font: var(--secondary-font);
    color: #00ff00;
    font-size: 10px;
}

.terminal-out-time {
    color: var(--light-3);
}

#right-top {
    height: 360px;
}

/* ---------------------------------------- Lesson Guide ---------------------------------------- */

#lesson-guide {
    width: 100%;
}

#lesson-guide-container {
    background-color: var(--dark-1);
    overflow-y: auto;
    max-height: calc(100vh - 459px);
    height: calc(100vh - 459px); /* Is this even required? */
    /* Required */
}

#lesson-guide-div {
    height: 8px;
    max-width: 100%;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: var(--primary-color);
}

#lesson-guide-content {
    padding: 32px;
    background-color: var(--dark-1);
    height: 100%;
}

#lesson-guide-content h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

#lesson-guide-content h2 {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#lesson-guide-content h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
}

#lesson-guide-content h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    font-style: italic;
}

#lesson-guide-content p {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 24px;
    line-height: 20px;
}

.lesson-guide-completion .lesson-guide-completion-checkbox {
    margin: 0px 18px 0px 18px;
    display: inline-block;
}

.lesson-guide-completion {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 0px 20px 0px;
}

.lesson-guide-completion-step {
    text-transform: uppercase;
    font-weight: bold;
}

.completed {
    color: var(--primary-color)
}

.not-completed {
    color: var(--light-3)
}

/* --------------------------------------- Lesson Controls -------------------------------------- */

#button-lesson-back {
    height: 8px;
    width: 50%;
    background-color: #c8aef6;
    padding: 12px 0px 12px 32px;
}

#button-lesson-next:hover, #button-lesson-next {
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

#button-lesson-next {
    width: 50%;
    height: 8px;
    background-color: var(--primary-color);
    padding: 12px 32px 12px 0px;
}

#button-lesson-next:hover {
    width: 100%
}

#button-lesson-back p {
    color: var(--dark-1);
    padding-top: 4px;
}

#button-lesson-next p {
    text-align: right;
    padding-top: 4px;
}

#button-lesson-back span {
    padding-top: 2px;
}

#button-lesson-next span {
    padding-top: 2px;
}

.button-lesson-controls-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}


/* ---------------------------------------------------------------------------------------------- */
/*                                          MEDIA QUERIES                                         */
/* ---------------------------------------------------------------------------------------------- */

@media (max-width: 1920px) {
    /* Normal Laptop/Desktop Display */
    .right {
        width: 640px;
    }
}

@media (max-width: 1240px) {
    #lesson-guide-container {
        max-height: calc(100vh - 387px);
    }
    #lesson-guide-content {
        height: calc(100vh - 387px);
    }
    #editor-container {
        flex-direction: column;
    }
    html {
        overflow-y: auto;
    }
    .left {
        display: flex;
        flex-direction: column;
    }
    .right {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    #right-top {
        min-height: 360px;
    }
    
    .editor-tabs-t {
        max-width: 100vw;
    }
}

@media (max-width: 849px) {
    /* Tablet/Phone Vertical */
    .right {
        max-height: none;
    }
    #lesson-guide-container {
        height: 100%;
        max-height: none;
    }
}

@media (max-width: 500px) {
    #right-tabs-container {
        flex-wrap: wrap;
    }
}