/* ---------------------------------------------------------------------------------------------- */
/*                                              BASIC                                             */
/* ---------------------------------------------------------------------------------------------- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    color: var(--light-1);
    font: var(--primary-font);
    border-spacing: 0px;
}

/* Soon (TM) */
.heading {
    font-size: 24px;
    line-height: 8px;
} 

.subheading {
    color: var(--light-2);
    font-size: 9px;
    line-height: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 100vw;
}

table {
    border-spacing: 0px;
}

a {
    color: var(--primary-color);
}

/* ------------------------------------------- Spacers ------------------------------------------ */

.spacer-8px {
    width: 8px;
    height: 8px;
}

.spacer-12px {
    width: 12px;
    height: 12px;
}

.spacer-16px {
    width: 16px;
    height: 16px;
}

/* -------------------------------------------- Icons ------------------------------------------- */

.mdi {
    vertical-align: middle;
}

.ico-12px {
    width: auto;
    height: 12px;
    /* Can be applied to both icons and images :) */
    font-size: 12px;
}

.ico-16px {
    width: auto;
    height: 16px;
    font-size: 16px;
}

.ico-18px {
    width: auto;
    height: 18px;
    font-size: 18px
}

.ico-24px {
    width: auto;
    height: 24px;
    font-size: 24px;
}

.ico-32px {
    width: auto;
    height: 32px;
    font-size: 32px;
}

.ico-html5 {
    color: #e34f26;
}

.ico-javascript {
    color: #f7df1e;
}

.ico-css3 {
    color: #2965f1;
}

.ico-white {
    color: var(--light-1);
}

.ico-dark {
    color: var(--dark-1);
}

/* ----------------------------------------- Code Block ----------------------------------------- */

code {
    font: var(--secondary-font);
    background-color: var(--dark-2);
    color: var(--primary-color);
    padding: 2px 4px;
    margin: 0px 3px;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: var(--dark-2) !important;
    margin: 0px 0px 24px 0px !important;
    padding: 12px 0px 12px 24px !important;
}

pre code {
    background-color: var(--dark-2) !important;
    /* To override prism.js styling */
    padding: 0px !important;
    margin: 0px !important;
}

/* ------------------------------------------- Buttons ------------------------------------------ */
.button {
    display: inline-block;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 8px;
    text-decoration: none;
}
/* Can this be put in the button selector? */
[class*='button-'], [class*='button-']:hover {
    -webkit-transition: 300ms ease-in-out;
    -moz-transition: 300ms ease-in-out;
    -ms-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.button-primary {
    color: var(--light-1);
    background-color: var(--primary-color);
}

.button-primary:hover {
    background-color: #A47DEB;
}

.button-dark {
    color: var(--light-1);
    background-color: var(--dark-2);
}

.button-dark:hover {
    background-color: var(--dark-3);
}

.button-light {
    color: var(--dark-1);
    background-color: var(--light-2);
}

.button-light:hover {
    background-color: var(--light-3);
}

