/* ---------------------------------------------------------------------------------------------- */
/*                                            SPECIFICS                                           */
/* ---------------------------------------------------------------------------------------------- */

#body-fullwh {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-1);
}

.box-align-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ----------------------------------------- Error Pages ---------------------------------------- */
#error-bigheader {
    color: var(--primary-color);
    font: var(--secondary-font);
    font-size: 200px;
    font-weight: bold;
}

#error-smallheader {
    color: var(--light-1);
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}

#error-descr {
    font-size: 14px;
    line-height: 20px;
}

#error-contact {
    font-size: 10px;
    margin-top: 20px;
    font-style: italic;
}

#error-code {
    font: var(--secondary-font);
    font-size: 8px;
    margin-top: -20px;
    text-align: center;
}

#error-go-home {
    text-decoration: none;
    line-height: 40px;
}
