/* ---------------------------------------------------------------------------------------------- */

/*                                              FONTS                                             */

/* ---------------------------------------------------------------------------------------------- */

@font-face {
    font-family: Metropolis;
    src: local("Metropolis"), local("Metropolis Regular"), local("Metropolis Normal"), url("./Metropolis-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Medium"), local("Metropolis Semi-Bold"), url("./Metropolis-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Bold"), url("./Metropolis-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Italic"), local("Metropolis Regular Italic"), local("Metropolis Normal Italic"), url("./Metropolis-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Medium Italic"), local("Metropolis Semi-Bold Italic"), url("./Metropolis-MediumItalic.otf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: local("Metropolis Bold Italic"), url("./Metropolis-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

/* ---------------------------------------------------------------------------------------------- */

/*                                                  VARS                                          */

/* ---------------------------------------------------------------------------------------------- */

:root {
    --primary-color: #804ddeff;
    --dark-1: #121212;
    --dark-2: #212121;
    --dark-3: #424242;
    --light-1: #f5f5f5;
    --light-2: #e0e0e0;
    --light-3: #bdbdbd;
    --primary-font: normal normal 12px Metropolis, Arial, sans-serif;
    --secondary-font: 8px Consolas, monospace;
    /* TODO: Migrate to rems and ems for font sizing */
}

/* ---------------------------------------------------------------------------------------------- */

/*                                              BASIC                                             */

/* ---------------------------------------------------------------------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
    background-color: var(--dark-1);
    color: var(--light-1);
    font: var(--primary-font);
    overflow: hidden;
    border-spacing: 0px;
}

/* Why is there no element matching this selector?
.heading {
    font-size: 24px;
    line-height: 8px;
} */

.subheading {
    color: var(--light-2);
    font-size: 9px;
    line-height: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

table {
    border-spacing: 0px;
}

a {
    color: var(--primary-color);
}

/* ------------------------------------------- Spacers ------------------------------------------ */

.spacer-8px {
    width: 8px;
    height: 8px;
}

.spacer-12px {
    width: 12px;
    height: 12px;
}

.spacer-16px {
    width: 16px;
    height: 16px;
}

/* -------------------------------------------- Icons ------------------------------------------- */

.mdi {
    vertical-align: middle;
}

.ico-12px {
    width: auto;
    /* Can be applied to both icons and images :) */
    height: 12px;
    font-size: 12px;
}

.ico-16px {
    width: auto;
    height: 16px;
    font-size: 16px;
}

.ico-18px {
    width: auto;
    height: 18px;
    font-size: 18px
}

.ico-html5 {
    color: #e34f26;
}

.ico-javascript {
    color: #f7df1e;
}

.ico-css3 {
    color: #2965f1;
}

.ico-white {
    color: var(--light-1);
}

.ico-dark {
    color: var(--dark-1);
}

/* ----------------------------------------- Code Block ----------------------------------------- */

code {
    font: var(--secondary-font);
    background-color: var(--dark-2);
    color: var(--primary-color);
    padding: 2px 4px;
    margin: 0px 3px;
    font-size: 105%;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: var(--dark-2) !important;
    margin: 0px 0px 24px 0px !important;
    padding: 12px 0px 12px 24px !important;
}

pre code {
    background-color: var(--dark-2) !important;
    /* To override prism.js styling */
    padding: 0px !important;
    margin: 0px !important;
}

/* ---------------------------------------------------------------------------------------------- */

/*                                            SPECIFICS                                           */

/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------- Top Color Bar --------------------------------------- */

#top-cbar {
    background-color: var(--primary-color);
    padding: 8px 32px;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


#top-cbar-t3 {
    width: auto; /* redundant? */
    margin: auto;
}

#top-cbar-t4 {
    width: 19.3vw;
    align-self: flex-end; /* redundant? */
}

#top-cbar-ix {
    margin-right: 32px;
}

#top-cbar-cnt>.ico-12px {
    margin-right: 8px;
}

#top-cbar-cnt>.subheading {
    margin-right: 32px;
}

#top-cbar-title {
    font-weight: 500;
}

/* ------------------------------------------ Divisions ----------------------------------------- */

#editor-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    top: 32px;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 42px); /*  Required */
    background-color: #000;
}

.right {
    width: 50vw;
    /* No need for max-widths now */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}

.leftbottom {
    height: 32px;
    background-color: #000;
}

.rightbottom {
    height: 32px;
    background-color: #000;
    flex-shrink: 0;
    display: flex;
}

/* ----------------------------------------- Code Editor ---------------------------------------- */

#code-editor {
    height: 100%;
    width: 100%;
}

#code-editor-container {
    width: 100%;
    height: calc(100% - 32px); /* Required */
    display: inline-block;
}

/* Ace */

.ace_editor {
    font: var(--secondary-font);
    font-size: 12px;
}

.ace_gutter {
    background-color: var(--dark-1);
    width: 32px;
    font: var(--primary-font);
    font-size: 10px;
    font-weight: normal;
}

.ace_gutter-layer {
    background-color: var(--dark-1);
    width: 32px;
    font: var(--primary-font);
    font-size: 10px;
    font-weight: normal;
}

.ace_gutter-cell {
    padding-right: 16px;
    padding-left: 11px;
}

.ace_content {
    background-color: var(--dark-1);
}

/* ----------------------------------------- Status Bar ----------------------------------------- */

#statusbar {
    z-index: 10000;
    /* This should fix it */
    height: 16px;
    width: 100%;
    position: relative;
    background-color: var(--dark-2);
    display: flex;
    padding: 14px 0px;
}

.statusbar-info {
    height: 8px;
    font-size: 8px;
    display: inline-block;
    color: var(--light-3);
    text-align: left;
    margin-right: 32px;
    font-weight: 500;
}

#statusbar-pos {
    margin-left: 32px;
}

/* -------------------------------------------- Tabs -------------------------------------------- */

#code-editor-tabs-container, #right-tabs-container {
    display: flex;
    flex-direction: row;
}

#code-editor-tabs-container {
    flex-wrap: wrap;
}

.editor-tabs {
    top: 0px;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    border-color: #ff0000;
    border-spacing: 0px;
}

.editor-tabs-t {
    display: inline-block;
    min-height: 12px;
    width: 100%;
    font-size: 10px;
    z-index: 100000;
}

#code-editor-tabs-container .editor-tabs-t {
    max-width: 200px;
}

.box-link {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 12px 12px;
}

.editor-tabs-t-inactive {
    opacity: 0.5;
    background-color: none;
}

.editor-tabs-t-active {
    opacity: 1;
    background-color: var(--dark-1);
}

.editor-tabs-filename {
    vertical-align: baseline;
    font-size: 10px;
    font-weight: 500;
    margin-left: 12px;
}

/* ------------------------------------------ Viewport ------------------------------------------ */

#viewport {
    width: 100%;
    height: calc(100% - 36px);
    background-color: #fff;
    border: 10px var(--dark-2);
}


#terminal {
    background-color: var(--dark-1);
    border: 10px var(--dark-2);
    overflow: auto;
    height: calc(100% - 10px); /* Required */
}

#viewport-iframe-content {
    width: 99%;
    height: 99%;
    border: 10px var(--dark-1);
}

#terminal-container {
    overflow: auto;
    height: calc(100% - 30px); /* required */
}

.terminal-out {
    margin-left: 20px;
    font: var(--secondary-font);
    color: #00ff00;
    font-size: 10px;
}

.terminal-out-time {
    color: var(--light-3);
}

#right-top {
    height: calc(60vh - 32px - 32px);
}

/* ---------------------------------------- Lesson Guide ---------------------------------------- */

#lesson-guide {
    width: 100%;
    align-self: flex-end;
}

#lesson-guide-container {
    background-color: var(--dark-1);
    overflow-y: auto;
}

#lesson-guide-div {
    height: 8px;
    max-width: 100%;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 32px;
    background-color: var(--primary-color);
}

#lesson-guide-content {
    padding: 32px;
    background-color: var(--dark-1);
    height: 100%;
}

#lesson-guide-content h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

#lesson-guide-content h2 {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
}

#lesson-guide-content h3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
}

#lesson-guide-content h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
    font-style: italic;
}

#lesson-guide-content p {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 24px;
    line-height: 20px;
}

.lesson-guide-completion {
    display: block;
    margin: 0px 0px 20px 0px;
}

.lesson-guide-completion .lesson-guide-completion-checkbox {
    margin: 0px 18px 0px 18px;
    display: inline-block;
}

.lesson-guide-completion {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.lesson-guide-completion-step {
    text-transform: uppercase;
    font-weight: bold;
}

.completed {
    color: var(--primary-color)
}

.not-completed {
    color: var(--light-3)
}

/* --------------------------------------- Lesson Controls -------------------------------------- */

#button-lesson-back {
    height: 8px;
    width: 50%;
    background-color: #c8aef6;
    padding: 20px 0px 10px 32px;
}

#button-lesson-next {
    -webkit-transition: width 200ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    width: 50%;
    height: 8px;
    background-color: var(--primary-color);
    padding: 20px 32px 10px 0px;
}

#button-lesson-next:hover {
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
    width: 100%
}


#button-lesson-back p {
    color: var(--dark-1)
}

#button-lesson-next p {
    text-align: right;
}

.button-lesson-controls-link {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}
@media (min-width: 851px) {
    #lesson-guide-container {
        max-height: calc(39vh - 40px); /* Required */
    }
}
@media (max-width: 850px) {
    #editor-container {
        flex-direction: column;
    }
    html {
        overflow-y: auto;
    }

    .right {
        width: 100%;
        margin-top: 13px;
    }

    #right-top {
        min-height: 360px;
    }

    #viewport {
        min-height: 324px;
    }

    #terminal {
        min-height: 350px;
    }
    #top-cbar-t4 {
        width: auto;
    }

}

@media (max-width: 500px) {
    #right-tabs-container {
        flex-wrap: wrap;
    }
    .editor-tabs-t {
        min-width: 100% !important;
    }
}