<li class="ts font-sans font-normal text-sm">
    <div class="ts flex flex-row mb-1 py-1 text-gray-600 dark:text-gray-400 rounded">
        <% if (type == 'folder') { %>
            <svg class="ts icon w-3 h-3 my-auto" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#chevron-down"></use>
            </svg>
            <svg class="ts icon ml-1 w-3 h-3 my-auto" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#folder"></use>
            </svg>
        <% } else { %>
            <svg class="ts icon ml-4 w-3 h-3 my-auto" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#file"></use>
            </svg>
        <% } %>
        <p class="ts ml-2"><%- name %></p>
    </div>
    <ul class="flex flex-col ml-4">
        <% for (let index = 0; index < children.length; index++) { %>
            <%- include('./fs_index.ejs', children[index]) %>
        <% } %>
    </ul>
</li>