<div id="banner-top-dev" class="ts w-screen relative z-10 flex flex-row bg-purple-300 px-4 sm:px-10 py-2">
    <svg class="ts my-auto flex-shrink-0 icon w-5 h-5 text-gray-900" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/static/icons/feather-sprite.svg#info"></use>
    </svg>
    <div class="ts ml-2 my-auto flex flex-col md:flex-row mr-auto">
        <div class="ts my-auto text-left text-xs md:text-sm lg:text-base font-sans font-bold text-gray-900">Info:</div>
        <div class="ts md:ml-2 my-auto text-left text-xs md:text-sm lg:text-base font-sans font-normal text-gray-900">You are viewing the development build of Ideoxan.</div>
    </div>
    <div class="ts flex-shrink-0 ml-8 md:ml-auto my-auto px-8 py-2 rounded-md bg-purple-600 text-white text-xs font-bold cursor-pointer hover:bg-purple-800" onclick="document.getElementById('banner-top-dev').remove()">OK</div>
</div>