<div id="banner-top-discord" class="ts w-screen relative z-10 flex flex-row bg-purple-600 px-4 sm:px-10 py-1.5">
    <svg class="ts my-auto flex-shrink-0 icon w-4 h-4 text-gray-50" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/static/icons/feather-sprite.svg#message-circle"></use>
    </svg>
    <div class="ts ml-2 my-auto flex flex-col md:flex-row mr-auto">
        <div class="ts my-auto text-left text-xs md:text-xs lg:text-sm font-sans font-bold text-gray-50">Hey! We have an official Discord server!</div>
        <div class="ts hidden lg:inline-block md:ml-2 my-auto text-left text-xs md:text-xs lg:text-sm font-sans font-normal text-gray-50">Join our welcoming community for sneak peaks and special events</div>
    </div>
    <div class="ts flex-shrink-0 ml-8 md:ml-auto my-auto px-6 py-1.5 rounded-md bg-purple-50 text-purple-600 text-xs font-bold cursor-pointer hover:bg-purple-200" onclick="window.open('https:\/\/discord.gg/jxqKy6r')">Join!</div>
    <div class="ts flex-shrink-0 ml-2 my-auto p-1.5 rounded-md bg-purple-600 text-white text-xs font-bold cursor-pointer hover:bg-purple-700" onclick="document.getElementById('banner-top-discord').remove()">
        <svg class="ts my-auto flex-shrink-0 icon w-4 h-4 text-gray-50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <use xlink:href="/static/icons/feather-sprite.svg#x"></use>
        </svg>
    </div>
</div>