<div class="ts container bg-purple-600">
    <div class="ts max-w-7xl mx-auto flex flex-col lg:flex-row justify-between">
        <div class="ts flex flex-col space-y-2">
            <div class="ts text-left mx-0 md:text-center md:mx-auto lg:text-left lg:mx-0 text-3xl font-extrabold font-sans text-white tracking-tight">
                Start Your Programming Journey
            </div>
            <div class="ts text-left mx-0 md:text-center md:mx-auto lg:text-left lg:mx-0 text-xl font-extrabold font-sans text-purple-300 tracking-tight">
                Join for free now!
            </div>
        </div>
        <a class="ts mx-0 md:mx-auto lg:mx-0 my-auto mt-4 lg:mt-auto lg:ml-12 flex-shrink-0 button button-primary-inverted" href="/signup">Sign Up →</a>
    </div>
</div>