<div class="ts px-8 pt-10 pb-5 bg-gray-50 w-full">
    <div class="ts max-w-7xl mx-auto">
        <div class="ts mx-auto mt-8 text-center text-2xl lg:text-4xl text-gray-900 font-sans font-extrabold tracking-tight">What is Ideoxan?</div>
        <div class="ts mt-4 mb-8 text-center text-base text-gray-700 font-sans font-normal">Ideoxan is a free to use website under development that aims to help various individuals advance their computer science skills. A majority of the courses provided are free to redistribute, which makes it easy for anyone to learn.</div>
    </div>
</div>