<div class="ts container bg-gray-100">
    <div class="ts max-w-7xl mx-auto flex flex-col lg:flex-row justify-between">
        <div class="ts flex flex-col space-y-2">
            <div class="ts text-3xl font-extrabold font-sans text-gray-900 tracking-tight">
                Start Your Programming Journey
            </div>
            <div class="ts text-xl font-extrabold font-sans text-purple-600 tracking-tight">
                Join for free now!
            </div>
        </div>
        <a class="ts my-auto mt-4 lg:mt-auto lg:ml-12 flex-shrink-0 ts w-full md:w-max py-1.5 px-6 bg-purple-600 border-solid border-2 border-transparent text-purple-50 text-base font-sans font-semibold text-center rounded-lg shadow-md ring-1 ring-gray-900 ring-opacity-5 hover:shadow-lg hover:bg-purple-800" href="/signup">Sign Up →</a>
    </div>
</div>