<div class="ts container bg-purple-50">
    <div class="ts max-w-7xl mx-auto flex flex-col">
        <div class="ts mx-auto flex items-center justify-center flex-shrink-0 border-purple-600 border-solid border-2 bg-none w-10 h-10 rounded-full">
            <svg class="ts icon mx-auto w-6 h-6 text-purple-600" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#book-open"></use>
            </svg>
        </div>
        <div class="ts mt-4 mx-auto text-3xl md:text-4xl lg:text-5xl text-center font-extrabold font-sans text-gray-900 tracking-tight">
            Find Your Niche
        </div>
        <div class="ts mt-4 max-w-2xl mx-auto text-sm md:text-base font-medium text-center font-sans text-gray-600">
            With several courses already available and more to come, you can find your new favorite programming language.
        </div>
        <div class="ts mt-8 flex flex-row flex-wrap justify-between">
            
            <%- include('./partials/course/course.ejs', {
                course: {
                    name: 'Intro to HTML',
                    pathway: {
                        name: 'Fundamentals of Web Design'
                    },
                    description: 'This course will teach the basic concepts of the Hypertext Markup Language (HTML). HTML is what powers the front end and provides structure for millions of websites being served each day on the modern web',
                    banner: '/static/img/htmlbanner.jpg'
                }
            }) %>
            <%- include('./partials/course/course.ejs', {
                course: {
                    name: 'Intro to CSS',
                    pathway: {
                        name: 'Fundamentals of Web Design'
                    },
                    description: 'This course will provide instruction on using Cascading Style Sheets together with HTML documents. CSS is used to apply clean and usable styles to websites. The pairing of HTML and CSS is common due to the fact that they work hand in hand with one another.',
                    banner: '/static/img/htmlbanner.jpg'
                }
            }) %>
            <%- include('./partials/course/course.ejs', {
                course: {
                    name: 'Intro to JavaScript (Node.js)',
                    pathway: {
                        name: 'JavaScript Full Stack Path'
                    },
                    description: 'This course teaches the Node.js runtime variant of JavaScript. It is the same language and syntax as normal DOM JS but, there is no document object. Instead, there are various new objects introduced so that the language can be run independently from the browser.',
                    banner: '/static/img/htmlbanner.jpg'
                }
            }) %>

        </div>
        <div class="ts mt-8 flex flex-row flex-wrap md:flex-nowrap space-y-4 md:space-y-0 md:space-x-8 mx-12 md:mx-auto md:w-max pb-16 sm:pb-0">
            <a class="ts mx-auto button button-primary" href="/catalogue">See All →</a>
        </div>
    </div>
</div>