<div class="ts w-full bg-gray-50 py-20 px-12">
    <div class="ts max-w-7xl mx-auto flex flex-row justify-between">
        <div class="flex flex-col space-y-2">
            <div class="text-3xl font-extrabold font-sans text-gray-900 tracking-tight">
                Start Your Journey Toward Becoming a Programming Expert
            </div>
            <div class="text-xl font-extrabold font-sans text-purple-600 tracking-tight">
                Get started for free now
            </div>
        </div>
        <a class="my-auto flex-shrink-0 ts w-full md:w-max py-1.5 px-6 bg-purple-600 border-solid border-2 border-transparent text-purple-50 text-base font-sans font-semibold text-center rounded-lg shadow-md ring-1 ring-gray-900 ring-opacity-5 hover:shadow-lg hover:bg-purple-800" href="/signup">Get Started →</a>
    </div>
</div>