<div class="ts container bg-gray-50">
    <div class="ts max-w-7xl mx-auto flex flex-col">
        <div class="ts mx-auto text-3xl md:text-4xl lg:text-5xl text-center font-extrabold font-sans text-gray-900 tracking-tight">
            A better way to learn
        </div>
        <div class="mt-4 ts max-w-2xl mx-auto text-sm md:text-base font-medium text-center font-sans text-gray-600">
            Learning programming can be hard for a lot of people. But with Ideoxan's wide array of features, learning computer science skills has never been easier.
        </div>
        <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-12">

            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#dollar-sign"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Free Content
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        All Ideoxan courses are provided to the public, free of charge. Anyone can view, modify, and re-distribute our courses as long as they follow our licence.
                    </div>
                </div>
            </div>
            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#layout"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Robust Editor
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        The Ideoxan editor is a fully robust code editor. Codenamed Koala, it features real-time editing, syntax highlighting, and a modern design.
                    </div>
                </div>
            </div>
            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#git-pull-request"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Open Source
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        A majority of the code that powers the Ideoxan website is open sourced. Our GitHub holds all of the code used to power the website and the courses.
                    </div>
                </div>
            </div>
            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#users"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Community Driven
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        New courses can be easily created by the community because of our open source model and publicly available specification guides.
                    </div> 
                </div>
            </div>
            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#award"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Professional Grade Courses
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        Courses are written by developers with years of programming and computer science experience.
                    </div>
                </div>
            </div>
            <div class="ts flex flex-row space-x-4">
                <div class="ts flex items-center justify-center flex-shrink-0 bg-purple-600 w-12 h-12 rounded-md">
                    <svg class="ts -mt-0.5 icon w-6 h-6 text-gray-100" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#box"></use>
                    </svg>
                </div>
                <div class="ts flex flex-col space-y-2">
                    <div class="ts text-xl text-left font-semibold tracking-wide font-sans text-gray-900">
                        Interactive Lessons
                    </div>
                    <div class="ts text-base text-left font-normal font-sans text-gray-600">
                        Each lesson comes with an interactive guide on a specific topic. Topic-relevant interactive tasks are also included to assist in understanding.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>