<div class="ts container bg-gradient-to-tr from-purple-900 via-purple-700 to-purple-600">
    <div class="ts max-w-7xl mx-auto flex flex-col">
        <div class="ts mt-4 mx-auto text-6xl font-sans font-extrabold tracking-tight text-center text-white"><%- header %></div>
        <div class="ts max-w-md mt-4 mb-6 mx-auto text-base font-sans font-normal tracking-wide text-center text-white"><%- subheader %></div>
    </div>
</div>